@import "~@angular/material/prebuilt-themes/indigo-pink.css";
vg-player {
  font-size: 18px;
}
vg-player .material-icons {
  user-select: none;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 60px;
  cursor: pointer;
  color: white;
  line-height: 50px;
}
.effect-controller {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

vg-overlay-play .vg-overlay-play .overlay-play-container.vg-icon-play_arrow {
  display: none !important;
}
