<mat-grid-list class="effect-controller" cols="3" rowHeight="4:1">
  <mat-grid-tile>Brightness:</mat-grid-tile>
  <mat-grid-tile>
    <mat-slider
      (input)="adjustBrightness($event)"
      min="0"
      max="200"
      [value]="brightness"
    ></mat-slider>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="resetBrightness()">{{brightness}}%</button>
  </mat-grid-tile>
  <mat-grid-tile>Contrast:</mat-grid-tile>
  <mat-grid-tile>
    <mat-slider
      (input)="adjustContrast($event)"
      min="0"
      max="200"
      [value]="contrast"
    ></mat-slider>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="resetContrast()">{{contrast}}%</button>
  </mat-grid-tile>
</mat-grid-list>
