vg-player {
  font-size: 18px;

  span {
    user-select: none;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 60px;
    cursor: pointer;
    color: white;
    line-height: 50px;
  }
}

mat-grid-list {
  width: 300px;
  padding-left: 60px;
}
